@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Inter;
    text-decoration: none;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    color: #001E42;
}

h2 {
    font-size: 22px;
    font-weight: 400;
    color: #001E42;
}

h3 {
    font-size: 20px;
    font-weight: 400;
    color: #001E42;
}

h4 {
    font-size: 14px;
    font-weight: 400;
    color: #001E42;
}

h5 {
    font-size: 12px;
    font-weight: 400;
    color: #001E42;
}

body{
    background: #F3F3F3;
}

header {
    height: 60px;
    width: 100%;
    background-color: #09388A;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content:space-between;
}

header img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-left: 10px;
}

.request-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    height: 100%;
}

header h4 {
    color: #FFFFFF;
    font-weight: Bold;
    display: inline;
    align-items: center;
    justify-items:center;
}

.request-counter {
    background-color: #FE991F;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.request-counter h4 {
    color: #001E42;
    font-size: 14px;
    font-weight: Bold;
}

.main-space {
    margin: 40px 200px 40px 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-space h3 {
    font-weight: 450;
}

/*  */
/*  */
/*  */

.speed-bar {
    width: 535px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.speed-bar-input {
    width: 400px;
    height: 40px;
    border: none;
    padding: 10px;
}

.speed-bar-btn {
    padding: 10px 24px 10px 24px;
    background-color: #FE991F;
    border: transparent;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
}

.speed-bar-btn:hover {
    background-color: transparent;
    border: 1px solid #FE991F;
    font-size: 14px;
    font-weight: bold;
    color: #FE991F;  
    cursor: pointer; 
}

.routes {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.departure-date {
    width: 100px;
    height: 40px;
    background-color: #FFFFFF;
}

.route {
    width: 100%;
    height: 120px;
    background-color: #FFFFFF;
    padding: 10px;
    display: grid;
    grid-template-columns: 160px 240px auto;
    gap: 10px;
}

.route-img {
    width: 140px;
    height: 100%;
    object-fit: cover;
}

.route-arrival-info {
    display: flex;
    justify-content: end;
}

.speed-value {
    color: #FE991F;
    font-weight: bold;
}