<html lang="en">
<head>
    <title>Перевозки</title>
    <link rel="stylesheet" href="/static/styles/index_style.css">
</head>
<header>
    <a href="/routes"><img src="http://127.0.0.1:9000/test/main_ship.svg" alt="home"></a>
</header>
<body>
    <div class="request-link {{ if eq (len .request.RouteInfo) 0 }}empty-request{{ end }}">
        <a href="/request">
            <img src="{{ if eq (len .request.RouteInfo) 0 }}http://127.0.0.1:9000/test/sea_request_null.svg{{ else }}http://127.0.0.1:9000/test/sea_request.svg{{ end }}" 
             alt="request" class="request-icon">
        </a>
        <div class="request-counter {{ if eq (len .request.RouteInfo) 0 }}empty-request{{ end }}">
            <h4>{{ len .request.RouteInfo }}</h4>
        </div>
    </div>
    <div class="main-space">
        <form class="distance-filter-bar" action="/routes" method="GET">
            <h4>Расстояние от</h4>
            <input class="distance-filter-input" type="number" name="min_distance" value="{{ .minDistance }}">
            <h4>до</h4>
            <input class="distance-filter-input" type="number" name="max_distance" value="{{ .maxDistance }}">
            <button class="distance-filter-btn" type="submit">Применить</button>
            <a href="/routes" class="distance-filter-btn">Сбросить</a>
        </form>
        <div class="cards">
            {{ range .routes }}
            <a href="/route/{{ .ID }}">
                <div class="card">
                    <div class="card-info">
                        <div class="card-info-text">
                            <h4> {{ .Title }} </h4>
                            <h5>{{ .Distance }} km</h5>
                        </div>
                        <!-- <button class="add-request-btn">Оставить заявку</button> -->
                    </div>
                    <img class="card-img" src="{{ .Image }}" alt="route{{ .ID }}">
                </div>
            </a>
            {{ end }}
        </div>
    </div>
</body>
</html>