<html lang="en">
<head>
    <title>Заявка</title>
    <link rel="stylesheet" href="/static/styles/request_style.css">
</head>
<header>
    <a href="/routes"><img src="http://127.0.0.1:9000/test/main_ship.svg" alt="home"></a>
</header>
<body>
    <div class="main-space">
        <h3>Заявка</h3>
        <div class="routes">
        {{ range .requestRoutes }}
        <div class="departure-date">Дата отправления: {{ .DepartureDate.Format "02.01.2006" }}</div>
        <div class="route">
            {{ range .RouteInfo }}
            {{ $route := index $.routesMap .RouteId }}
            <div class="route-img">
                <img class="route-img" src="{{ $route.Image }}" alt="route{{ $route.ID }}">
            </div>
            <div class="route-info">
                <h4>{{ $route.Title }}, {{ $route.Distance }} км</h4>
            </div>
            <div class="route-arrival-info">
                <h4>Дата прибытия: {{ .ArrivalDate.Format "02.01.2006" }}</h4>
                <div class="ship-speed">
                    <h4>Средняя скорость контейнеровоза:</h4>
                    <h4 class="speed-value">{{ .ShipSpeed }}</h4>
                </div>
            </div>
            {{ end }}
        </div>
        {{ end }}
        </div>
    </div>
</body>
</html>